$White: rgb(230, 232, 234);
$Black: #141417;
$Midnight: #0c0c0c;
$Grey: #929aa5;
$Charcoal: rgb(48, 52, 59);
$Shadow: rgba(0, 0, 0, 0.507);
$DangerRed: rgb(248, 73, 96);
$Pink: rgb(255, 29, 153);
$Green: rgb(2, 192, 118);
$Yellow: rgb(240, 185, 11);
$Blue: #186694;
